@media (max-width: 1200px) {

}

@media ( max-width:991px ) {
	.header {
		padding: 21px 10px 40px 10px;
	}
	.promo {
		&__wrapper {
			align-items: center;
			padding: 10px;
			margin-top: 5px;
		}
	}
}


@media ( max-width:767px  ) {
	.header {
		padding: 21px 60px 40px 60px;
		&__official {
			display: none;
		}
	}
	.promo {
		&__wrapper {
			align-items: center;
			padding: 10px;
		}
	}

	.adventages {
		&__wrapper {
			display: block;
			}
		&__item {
			padding: 15px;
			flex-direction: row;
			max-width: 100%;
			}
		&__subtitle {
			text-align: left;
			width: 30%;
			margin: 10px 15px;
			}
		&__descr {
			margin-top: 10px;
			}
	}
}
	
@media ( max-width: 575px ) {
	.header {
		flex-direction: column;
		padding: 10px 10px ;
		&__logo {
			margin-bottom: 20px;
		}
		&__phone {
			font-size: 31px;
		}
		&__official {
			margin-bottom: 20px;
		}
	}
	.promo {
		min-height: 100%;
		padding: 5px;
		&__wrapper {
			align-items: center;
			padding: 10px;
		}

		&__header {
			font-size: 38px;
			text-align: center;
		}
		&__subheader {
			font-size: 22px;
			text-align: center;
		}
		&__icons {
			width: 100%;
			margin: 0 auto;
			align-items: center;
		}
	}
	.button_main {
		margin-top: 20px;
	}
	.adventages {
		padding: 20px 5px;
		&__wrapper {
			margin-top: 20px;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			flex-direction: column;
		}
		&__subtitle {
			margin-top: 10px;
			text-align: center;
			width: 100%;
		}
		&__descr {
			margin-top: 10px;
		}
	}
}